{% load static %}

<h1>Товары:</h1>
{% for item in items %}
    <div class="item">
        <h3>{{ item.name }}</h3>
        <p>{{ item.price_for_view }}</p>
        <a href="{% url 'view' item.id %}">Детали</a>
        <br>
        <button style="margin-top: 5px;" onclick="addToCart('{{ item.price_stripe }}', '{{ item.name }}')">Добавить в корзину</button>
    </div>
{% endfor %}


<div style="margin-top: 50px;">
    <h1>Скидки:</h1>
    {% for discount in discounts %}
    <div class="discount">
        <h3>{{ discount.name }}</h3>
        <p>{{ discount.amount }}%</p>
        <button onclick="addDiscount('{{ discount.stripe_id }}')">Добавить скидку</button>
    </div>
{% endfor %}
</div>

{% for tax in taxes %}
    <div class="discount">
        <h3>{{ tax.name }}</h3>
        <p>{{ tax.amount }}</p>
        <button onclick="addTax({{ tax.amount }})">Добавить налог</button>
    </div>
{% endfor %}

<div style="margin-top: 50px;">
    Валюта оплаты:
    <select id="currencies">
    {% for currency in currencies %}
        <option value="{{ currency.code }}">{{ currency.name }}</option>
    {% endfor %}
    </select>
</div>
<button style="margin-top: 20px;" onclick="checkoutCart()">Оформить заказ</button>

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'shop_items.js' %}"></script>
{% endblock %}