{% load static %}

<div>
    <div>
        <h3>Название: {{ item.name }}</h3>
    </div>
    <div>
        <h4>Цена: {{ item.price_for_view }}</h4>
    </div>
    <div>
        <h4>Описание: {{ item.description }}</h4>
    </div>
    <button class="btn btn-primary" onclick="buyItem({{ item.id }}, {{ api_key }})">Купить</button>
</div>

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'view_item.js' %}"></script>
{% endblock %}
